
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        
    </head>
    <body>
        <h1>home</h1>
        <p>this is home page</p>

        <p>hello darkness my old friend</p>
        
        <img src="https://imgs.search.brave.com/e90ZYjSioU25hunaOuDj2TyAKxp7FrIDm_cXjzbJ4_E/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4u/ZHJpYmJibGUuY29t/L3VzZXJ1cGxvYWQv/NDczOTg1Ni9maWxl/L29yaWdpbmFsLTg4/ZmQ1NzA3N2UwNmQ5/MjA0YTg1MmZhMzUz/ZjY1Y2U1LnBuZz9m/b3JtYXQ9d2VicCZy/ZXNpemU9NDAweDMw/MCZ2ZXJ0aWNhbD1j/ZW50ZXI" alt="home image">

        <script src="" async defer></script>
    </body>
</html>